a .col-md-6 {
    text-decoration: none;
    color: black;
}
a{
    text-decoration: none;
    color: black;   
}
.card:hover {
    background-color: #f8f9fa;
    transform: scale(1.02); 
    transition: all 0.3s ease-in-out;
  }
.footer {
    padding: 20px;
    text-align: center;
    background: #333;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

